.shifts-table {
  margin: 8px 0 16px !important;
  overflow-x: scroll;

  .scroll-wrapper {
    overflow-y: scroll;
    max-height: 300px;
  }

  mat-form-field {
    max-width: 100%;
  }
}

.mat-row {
  height: auto;
  min-height: 48px;
  min-width: 800px;
}
.mat-header-cell,
.mat-cell {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  word-break: break-all;
  padding: 4px;
}

.loading-row {
  padding: 8px;
}
