<ng-container *ngrxLet="selectedEmployees$; let selectedEmployees">
  <ng-container *ngrxLet="dashboardStats$; let dashboardStats">
    <ng-container *ngrxLet="loadingDashboardStats$; let loadingDashboardStats">
      <mat-card class="general-overview">
        <mat-card-title> General overview </mat-card-title>
        <mat-card-content class="content"
          ><div class="d-flex justify-content-around w-full subcard-list">
            <div class="subcard">
              <label class="subcard-title">Employees</label>
              <label
                class="subcard-value"
                *ngIf="!loadingDashboardStats; else spinner"
                >{{ dashboardStats.employeeCount }}</label
              >
            </div>
            <div class="subcard">
              <label class="subcard-title">Total time</label>
              <div *ngIf="!loadingDashboardStats; else spinner">
                <label class="subcard-value">{{
                  dashboardStats.totalTime?.toFixed(2)
                }}</label>
                <span class="subcard-value-unit">h</span>
              </div>
            </div>
            <div class="subcard">
              <label class="subcard-title">Regular hours paid</label>
              <div *ngIf="!loadingDashboardStats; else spinner">
                <label class="subcard-value">{{
                  dashboardStats.regularHoursPaid?.toFixed(2)
                }}</label>
                <span class="subcard-value-unit">$</span>
              </div>
            </div>
            <div class="subcard">
              <label class="subcard-title">Overtime hours paid</label>
              <div *ngIf="!loadingDashboardStats; else spinner">
                <label class="subcard-value">{{
                  dashboardStats.overtimeHoursPaid?.toFixed(2)
                }}</label>
                <span class="subcard-value-unit">$</span>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="employees-card">
        <mat-card-title>
          Employees
          <button
            mat-raised-button
            color="primary"
            class="bulk-edit-button"
            [disabled]="bulkEditDisabled$ | async"
            (click)="openBulkEdit(selectedEmployees)"
          >
            Bulk edit
          </button>
        </mat-card-title>
        <mat-card-content class="content">
          <app-employees-table></app-employees-table>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #spinner>
  <mat-spinner [diameter]="30"></mat-spinner>
</ng-template>
