.employees-table {
  margin-top: 32px !important;
  overflow-x: scroll;
}

.mat-row {
  height: auto;
  min-height: 48px;
  min-width: 800px;
}
.mat-header-cell,
.mat-cell {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  word-break: break-all;
  padding: 4px;
}
